body {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: top;
  background-position: right;
}
img {
  height:50%;
  width: 30%;
}
.ligne {
  text-decoration :underline;
}
li {
text-align: justify;
margin : 1em;
}
#three{
  border: 2px solid black;
	border-radius: 5px;
  height: auto;
  width: auto;
  background-color: white;
  position: relative;
}
span{
  border-radius: 5px;
  background-color: #CC560B;
  color: black;
  font-style: italic;
  font-weight: bold;
}
@media screen and (min-width:320px)

{
#three
    {
        background-color: white;
        font-size: 25px;
    }
}
